
<br>
<a href="?view_mode=edit_clnd_categories&data_source=<#DATA_SOURCE#>" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Добавить категорию</a>

<br><br>
[#if RESULT#]
<table class="table table-condensed table-striped">
<thead class="thead-light">
 <tr>
  <td><b>Иконка</b></td>
  <td><b>Категория</b></td>
  <td><b>Цвет</b></td>
  <td><b>Показ в календаре</b></td>
  <td><b>Опции</b></td>
  <td>&nbsp;</td>
 </tr>
</thead>
<tbody>
[#begin RESULT#]
<tr>
<td align="left">[#if ICON!=""#]<img style="max-height: 35px; width: 30px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">[#else#]<img style="width: 30px;" src="../cms/todoer/default.png">[#endif ICON#]</td>
<td><b>[#TITLE#]</b></td>
<td><b>[#if COLOR!=""#] <span class="badge" style="background-color:[#COLOR#];">...</span>[#endif#]</b></td>
<td><b>[#if AT_CALENDAR="1"#]Да[#else#]--[#endif#]</b></td>
<td>[#if HOLIDAYS="1"#]<b>Праздники</b>[#else#][#if HOLIDAYS="2"#]<b>Рабочие дни</b>[#else#][#if HOLIDAYS="3"#]<b>Архив</b>[#else#]Обычная категория[#endif#][#endif#][#endif#]</td>
<td>
  [#if "<#ACTION#>"=="admin"#]
     <a  class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_clnd_categories&id=[#ID#]" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
     <a  class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_clnd_categories&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>

</tr>
 [#end RESULT#]
</tbody>
</table>   


<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_clnd_categories">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->

