  <style>
    body {
      padding: 30px;
    }
    .tab-content {
      padding: 14px;
    }
  </style>
<div class="container-fluid">

<form action="?" method="post">
<div class="row">
		<div class="col-xs-6  col-6" style="background: #f7f7f9;border: 1px solid #e1e1e8;border-radius: 5px 0px 0px 0px;padding: 5px;">
			<input name="title" autofocus placeholder="Новая задача/событие" style="padding: 5px;font-size: 20px;border: 0px;outline: none;box-shadow: 0 0 black;" class="form-control" type="input" size="50" >
		</div>
		<div class="col-xs-6  col-6" style="border: 0px;padding: 5px;">
			<input  class="btn btn-success" type="submit" name="submit" value="Добавить">
			<input type="hidden" name="view_mode" value="edit">
			<input type="hidden" name="tab" value="<#TAB#>">
		</div>
</div>

</form>

	<div class="col-xs-12 col-sm-6 col-md-6 col-12" style="padding: 5px 0px;">
    <ul class="nav nav-tabs" style="font-size: 15px;" id="tabs_pane">
      <li>
        <a data-toggle="tab" href="#tab_events_nodate">Без срока <span class="badge">{#EVENTS_NODATE_REC_COUNT#}</span></a>
      </li>
[#if EVENTS_OVERDUE_REC_COUNT>0#]
      <li>
        <a data-toggle="tab" href="#tab_overdue_events"><i style=" color:DarkOrange;" class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Просрочено <span class="badge">{#EVENTS_OVERDUE_REC_COUNT#}</span></a>
      </li>
[#endif#]
      <li  class="active">
        <a data-toggle="tab" href="#tab_events_today"><i style="color:CadetBlue;" class="glyphicon glyphicon-flag"></i>&nbsp;Сегодня <span class="badge">{#EVENTS_TODAY_REC_COUNT#}</span></a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab_events_tomorrow">Завтра <span class="badge">{#EVENTS_TOMORROW_REC_COUNT#}</span></a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab_events_after">Скоро <span class="badge">{#EVENTS_AFTER_REC_COUNT#}</span></a>
      </li>
      <!-- Вкладка с выпадающим списком -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Дополнительно<span class="caret"></span></a>
        <ul class="dropdown-menu">
		[#if SHOWDONE#]
    	<li><a href="#tab_recently_done"><i style="color:green;" class="glyphicon glyphicon-ok"></i>&nbsp;Недавно завершено <span class="badge">{#RECENTLY_DONE_REC_COUNT#}</span></a></li>
		[#endif#]
        <li><a href="#tab_calendar_full">Календарь</a></li>
		<li><a href="#tab_events_all">Все записи</a></li>
        </ul>
      </li>

    </ul>
	</div>
<div class="clearfix"></div>
    <div class="tab-content">
      <div class="tab-pane fade" id="tab_events_nodate"> 
		<h3><i style="color:CadetBlue;" class="glyphicon glyphicon-bookmark"></i>&nbsp;Задачи и события без срока</h3>
[#if EVENTS_NODATE#]
<table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
[#begin EVENTS_NODATE#]
			<tr>
			<td>
			<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
			</td>
			<td>[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
				[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
			</td>
			<td>
			<span style="font-size:15px; color:DarkSlateGray;">&nbsp;<a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
			</td>
			<td>
			[#if NOTES!=""#]<span style="color: grey; font-style: italic;"> [#NOTES#]</span>[#endif#]
			</td>
			</tr>
[#end EVENTS_NODATE#]
</<tbody>
</table>
[#endif EVENTS_NODATE#]
      </div>
      <div class="tab-pane fade in active" id="tab_events_today">
		<h3><i style="color:CadetBlue;" class="glyphicon glyphicon-flag"></i>&nbsp;Сегодняшние дела</h3>
[#if EVENTS_TODAY#]
<table class="table">
            <thead>
            <tr>
                <th  style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 200px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
[#begin EVENTS_TODAY#]
			<tr>
			
				<td>
				<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
				</td>
				<td>
				[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
				[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
				[#if IS_REPEATING="1"#]<i style="font-size:20px; color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
				</td>
				<td>
					<span style="color: grey; font-style: italic;font-size:12px;">
						[#if ALL_DAY="0"#][#due_time#] - [#end_time_frmt#][#else#]весь день[#endif#]
					</span>
				</td>
				<td>
				<span style="font-size:15px; color:DarkSlateGray;"><a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
				<td>
				[#if NOTES!=""#]<span style="color: grey; font-style: italic;"> [#NOTES#]</span>[#endif#]
				</td>
</tr>
[#end EVENTS_TODAY#]
</<tbody>
</table>
[#endif EVENTS_TODAY#]
      </div>

     <div class="tab-pane fade" id="tab_events_tomorrow">
		<h3><i style="color:CadetBlue;" class="glyphicon glyphicon-tag"></i>&nbsp;Дела на завтра</h3>
[#if EVENTS_TOMORROW#]
<table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 200px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
[#begin EVENTS_TOMORROW#]
			<tr>
				<td>
				<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
				</td>
				<td>
				[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
				[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
				[#if IS_REPEATING="1"#]<i style="font-size:20px; color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
				</td>
				<td>
					<span style="color: grey; font-style: italic;font-size:12px;">
						[#if ALL_DAY="0"#][#due_time#] - [#end_time_frmt#][#else#]весь день[#endif#]
					</span>
				</td>
				<td>
				<span style="font-size:15px; color:DarkSlateGray;">&nbsp;<a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
				</td>
				<td>
[#if NOTES!=""#]<span style="color: grey; font-style: italic;"> [#NOTES#]</span>[#endif#]
				</td>
</tr>

[#end EVENTS_TOMORROW#]
</tbody>
</table>
[#endif EVENTS_TOMORROW#]

	</div>
     <div class="tab-pane fade" id="tab_events_after">
		<h3><i style="color:CadetBlue;" class="glyphicon glyphicon-tags"></i>&nbsp;Ближайшие дела</h3>
	[#if EVENTS_AFTER#]
<table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 200px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
	[#begin EVENTS_AFTER#]
			<tr>
				<td>
				<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
				</td>
				<td>
				[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
					[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
					[#if IS_REPEATING="1"#]<i style="font-size:20px; color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
				</td>
				<td>
					<span style="color: grey; font-style: italic;font-size:12px;">
						[#if ALL_DAY="0"#][#due_time#] - [#end_time_frmt#][#else#][#due_date#] весь день[#endif#]
					</span>
				</td>
				<td>
					<span style="font-size:15px; color:DarkSlateGray;">&nbsp;<a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
				</td>
				<td>
[#if NOTES!=""#]<span style="color: grey; font-style: italic;">  [#NOTES#]</span>[#endif#]
				</td>
</tr>	
	[#end EVENTS_AFTER#]
</<tbody>
</table>
	[#endif EVENTS_AFTER#]

	</div>
	<div class="tab-pane fade" id="tab_recently_done">
		<h3><i style="color:green;" class="glyphicon glyphicon-ok"></i>&nbsp;Недавно завершённые дела</h3>
	[#if RECENTLY_DONE#]
<table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 200px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
	[#begin RECENTLY_DONE#]
			<tr>
				<td>
				<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
				</td>
				<td>
					[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
					[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
					[#if IS_REPEATING="1"#]<i style="font-size:20px; color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
				</td>
				<td>
					<span style="color: grey; font-style: italic;font-size:12px;">
						[#if ALL_DAY="0"#][#due_time#] - [#end_time_frmt#][#else#]весь день[#endif#]
					</span>
				</td>
				<td>
					<span style="font-size:15px; color:DarkSlateGray;">&nbsp;<a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
				</td>
				<td>
[#if LOG!=""#]&nbsp;[#LOG#]&nbsp;<span style="color: grey; font-style: italic;"> [#NOTES#]</span>[#endif#]
				</td>
</tr>
	[#end RECENTLY_DONE#]
</<tbody>
</table>
	[#endif RECENTLY_DONE#]
	</div>
	<div class="tab-pane fade" id="tab_overdue_events">
		<h3><i style="color:DarkOrange;" class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Просроченные дела</h3>
	[#if EVENTS_OVERDUE#]
<table class="table">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 200px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
				<th>Подробности</th>
            </tr>
            </thead>
            <tbody>
	[#begin EVENTS_OVERDUE#]
			<tr>
				<td>
				<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
				</td>
				<td>
				[#if IS_REMIND="1"#]<i style="font-size:20px; color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
					[#if AUTODONE="1"#]<i style="font-size:20px; color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
					[#if IS_REPEATING="1"#]<i style="font-size:20px; color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="font-size:20px; color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
				</td>
				<td>					
					<span style="color: grey; font-style: italic;font-size:12px;">
						[#if ALL_DAY="0"#][#due_time#] - [#end_time_frmt#][#else#]весь день[#endif#]
					</span>
				</td>
				<td>
					<span style="font-size:15px; color:DarkSlateGray;">&nbsp;<a href="?view_mode=edit&id=[#ID#]">[#if IS_MAIN>0#]<b>[#TITLE#]</b>[#else#][#TITLE#][#endif#]</a></span>
				</td>
				<td>
[#if NOTES!=""#]&nbsp;[#LOG#]&nbsp;<span style="color: grey; font-style: italic;"> [#NOTES#]</span>[#endif#]<br>
				</td>
</tr>	
	[#end EVENTS_OVERDUE#]
</<tbody>
</table>
	[#endif EVENTS_OVERDUE#]
	</div>
	<div class="tab-pane fade" id="tab_events_all">
		<h3><i style="color:CadetBlue;" class="glyphicon glyphicon-tags"></i>&nbsp;Все записи</h3>
	<form action="?" method="get" class="form-inline">
			<div class="col-md-[#if VIEW_MODE=""#]6[#else#]12[#endif#]">
				<div style="padding-left: 5px;padding-right: 5px;" class="text-center">
					<div class="input-group">
						<input type="text" name="filter" id="filter" value="<#FILTER#>" placeholder="Фильтр" style="padding: 3px;" class="form-control">
						<span class="input-group-btn">
							<button type="submit" value="<#LANG_SUBMIT#>" class="btn btn-default btn-success" type="button"><#LANG_SUBMIT#></button>
						</span>
					</div>
						
					<input type="hidden" name="tab" value="tab_events_all">
					<input type="hidden" name="view_mode" value="search">
					<input type="hidden" name="mode" value="filter">
				</div>
			</div>
</form>

<table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 150px;">Категория</th>
                <th  style="width: 100px;">Атрибуты</th>
                <th  style="width: 150px;">Срок</th>
                <th  style="width: 300px;">Задача</th>
            </tr>
            </thead>
            <tbody>
	[#if EVENTS_ALL#]
	[#begin EVENTS_ALL#]
<tr>

	<td>
	<span>[#if ICON#]<img style="width: 15px;" src="<#ROOTHTML#>cms/todoer/[#ICON#]">&nbsp;[#CAT_NAME#][#else#]<i class="glyphicon glyphicon-question-sign" style="font-size:15px; color:lightgray;" aria-hidden="true" title="Без категории"></i>&nbsp;Без категории[#endif ICON#]</span>
	</td>
	<td>
	
	[#if IS_REMIND="1"#]<i style="color:Darkorange;" class="glyphicon glyphicon-bell" title="Напоминание"></i>[#else#]<i style="color:lightgray;" class="glyphicon glyphicon-bell" title="Не напоминать"></i>[#endif IS_REMIND#]
	[#if AUTODONE="1"#]<i style="color:orange;" class="glyphicon glyphicon-flash" title="Автозавершение"></i>[#else#]<i style="color:lightgray;" class="glyphicon glyphicon-flash" title="Без Автозавершения"></i>[#endif AUTODONE#]
	[#if IS_REPEATING="1"#]<i style="color:black;" class="glyphicon glyphicon-repeat" title="Повторение"></i>[#else#]<i style="color:lightgray;" class="glyphicon glyphicon-repeat" title="Без повторов"></i>[#endif IS_REPEATING#]
	[#if IS_DONE="1"#]<i style="color:green;" class="glyphicon glyphicon-ok" title="Готово"></i>[#else#]<i style="color:lightgray;" class="glyphicon glyphicon-ok" title="Не выполнено"></i>[#endif IS_DONE#]
	</td>
	<td>
		<span style="color: grey; font-style: italic;font-size:12px;">
		[#if IS_NODATE="1"#]без даты[#else#][#if ALL_DAY="0"#][#due_time#]-[#end_time_frmt#][#else#][#due_date#][#endif#][#endif#]
		</span>
	</td>
	<td>
		<span style="color:DarkSlateGray;"><a href="?view_mode=edit&id=[#ID#]">[#TITLE#]</a></span>
	</td>
</tr>
	[#end EVENTS_ALL#]
	[#endif EVENTS_ALL#]
            </tbody>
</table>
	</div>
	<div class="tab-pane fade" id="tab_calendar_full">
		<h3>Обзор дел и событий</h3>
	 [#inc clnd_full.html#]
	</div>
</div>




</div>
<script language="javascript">
    // #product a – селектор, выбирающий элементы a, представляющие собой вкладки (при клике на которые нужно отображать соответствующий блок)
    $('#tabs_pane a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

</script>